#jso_carousel {
  box-shadow: 1vw 2vw 3vw grey;
  border-radius: 2vw 0 2vw 0;
  padding: 2vw;
  #myCarousel {
    span {
      margin: 2vw auto;
      padding: 1.5vw;
      color: olive;
      background: silver;
      opacity: 0.4;
      box-shadow: 0.5vw 1vw 3vw silver;
      border: 0.2vw solid olive;
      border-radius: 0 4vw 0 4vw;
      transition: all 1s linear;
      &:hover {
        color: white;
        background: grey;
        opacity: 0.8;
        box-shadow: 1vw 2vw 3vw grey;
        border: 0.2vw solid white;
        cursor: pointer;
      }
      &:nth-of-type(1) {
        transform: scaleX(-1);
      }
    }
    img {
    box-shadow: -1vw -2vw 3vw grey;
    box-shadow: 1vw 2vw 3vw grey;
    border: 0.1vw solid olive;
    border-radius: 2vw 0 2vw 0;
    }
  }
}
#jso_weather {
  border-radius: 2vw 0;
  box-shadow: 1vw 2vw 3vw grey;
  padding: 2vw;
  img {
    border-radius: 2vw 0 2vw 0;
    box-shadow: 1vw 2vw 3vw grey;
  }
  form {
    border-radius: 2vw 0;
    box-shadow: 1vw 2vw 3vw grey;
 // type submit breaks styling
    input {
          width: 75%;
          margin: 1vw;
          padding: 2vw;
          font-size: 2vw;
          border-radius: 2vw 0 2vw 0;
          border: 0.1vw solid olive;
          box-shadow: 1.5vw 1.5vw 1.5vw grey;

        &::placeholder {
          color: olive;
          opacity: 0.7;
          font-size: 2vw;
          }
        &:focus {
          outline: none;
          }

        }
    h2 {

        }
    button {
          margin: 1vw;
          padding: 2vw;
          color: olive;
          background: white;
          font-size: 2.5vw;
          border-radius: 2vw 0 2vw 0;
          border: 0.2vw solid olive;
          box-shadow: 0.5vw 1vw 1.5vw silver;
          transition: all 0.5s ease-in;
          &:hover {
            cursor: pointer;
            color: white;
            background: olive;
            border-radius: 0 2vw 0 2vw;
            border: 0.2vw solid white;
            box-shadow: 1.5vw 1.5vw 1.5vw grey;
          }
          &:focus {
            outline: none;
          }
    }
  }
}
#jso_taskPlanner {
  box-shadow: 1vw 2vw 3vw grey;
  border-radius: 2vw 0;
  form {
    border-radius: 2vw 0;
    box-shadow: 1vw 2vw 3vw grey;
    padding: 1vw;
    input {
      width: 65%;
      height: 6vw;
      margin: 1vw;
      padding: 1vw;
      font-size: 2vw;
      border: 0.2vw solid olive;
      border-radius: 2vw 0;

      &::placeholder {
        color: olive;
        opacity: 0.7;
        font-size: 2vw;
        }
      &:focus {
        outline: none;
        }
      }

      button {
        float: right;
        width: 25%;
        height: 6vw;
        margin: 1vw;
        padding: 1vw;
        font-size: 2vw;
        color: olive;
        background: white;
        border-radius: 0 2vw;
        border: 0.2vw solid olive;
        transition: all 1s ease-out;
        &:hover {
          cursor: pointer;
          color: white;
          background: olive;
          border-radius: 2vw;
          border: 0.2vw solid white;
          box-shadow: 0.5vw 1vw 2vw yellow;
        }
        &:focus {
          outline: none;
        }
      }
    }
  p {
    border-radius: 2vw;
    box-shadow: 0.5vw 1vw 2vw grey;
  }

  .fade-enter {
    opacity: 0.1;
    transition: opacity 1.8s linear;
  }
  .fade-enter-active {
    opacity: 0.9;
    transition: opacity 2s linear;
  }
  .fade-exit {
    opacity: 0.9;
    transition: opacity 1.8s linear;
  }
  .fade-exit-active {
    opacity: 0.1;
    transition: opacity 2s linear;
  }
}
#jso_checkZodiac {
  box-shadow: 1vw 2vw 3vw grey;
  border-radius: 2vw 0 2vw 0;
  padding: 2vw;
  .myWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2vw;
    img {
      width: 100%;
      height: 100%;
      box-shadow: 1vw 2vw 3vw grey;
      border-radius: 2vw 0 2vw 0;
    }
    p {
      text-align: center;
      box-shadow: 0.5vw 1vw 3vw grey;
      border-radius: 2vw 0 2vw 0;
    }
    input {
          margin: 1vw auto;
          padding: 1vw;
          box-shadow: 1vw 2vw 3vw grey;
          border-radius: 2vw 0 2vw 0;
    }
  }
}
#jso_luckyNumbers {
  border-radius: 2vw 0;
  box-shadow: 1vw 2vw 3vw grey;
  display: flex;
  justify-content:space-around;

    #quote {
    width: 45%;
    border-radius: 2vw 0;
    box-shadow: 1vw 2vw 3vw grey;
    display: flex;
    flex-direction: column;
    justify-content: center;

      p {
        border-radius: 2vw 0;
        box-shadow: 1vw 2vw 3vw grey;
        padding: 2vw;
        margin: 1vw;
        &:nth-of-type(2) {
          transform: rotate(15deg);
          color: gold !important;
          opacity: 0.8;
        }
      }
    }
    #lottery {
      margin: 2vw 1vw;
      width: 45%;
      border-radius: 2vw 0;
      box-shadow: 1vw 2vw 3vw grey;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      #winner {
        width: 80%;
        text-align: center;
        border: 0.2vw dashed gold;
        border-radius: 0 2vw;
        box-shadow: 0.5vw 0.5vw 0.5vw silver;
        margin: 1vw auto;
        padding: 1vw;
        color: gold;
        text-shadow: 0.2vw 0.4vw 0.6vw gold;
        text-shadow: 0.1vw 0.1vw 0.1vw white;
        background: black;
      }
      #looser {
        width: 80%;
        text-align: center;
        border: 0.2vw solid brown;
        border-radius: 0 2vw;
        box-shadow: 0.5vw 0.5vw 0.5vw grey;
        margin: 1vw auto;
        padding: 1vw;
        color: silver;
        text-shadow: 0.2vw 0.4vw 0.6vw grey;
        text-shadow: 0.1vw 0.1vw 0.1vw white;
        background: olive;
      }

      p {
        width: 80%;
        text-align: center;
        border: 0.2vw solid olive;
        border-radius: 1vw;
        box-shadow: 0.5vw 0.5vw 0.5vw grey;
        margin: 0.5vw auto;
        padding: 1vw;
        color: olive;
        text-shadow: 0.2vw 0.4vw 0.5vw grey;
        text-shadow: 0.1vw 0.1vw 0.1vw black;
        background: silver;

      button {
        width: 5vw;
        height: 5vw;
        margin: 1vw;
        padding: 1vw;
        background: olive;
        border: 0.2vw solid brown;
        box-shadow: 0 0 1vw grey;
        border-radius: 20vw;
        &:hover {
          cursor: pointer;
          background: brown;
          border: 0.2vw solid olive;
          }
          &:focus {
          outline: none;
          }
          &:active {
          border: 0.1vw solid gold;
          }
      }
      span {
        font-family: monospace;
        background: white;
        color: red;
        margin: 0.2vw;
        padding: 0.4vw;
        border-style: inset;
        border: 0.1vw solid red;
      }
    }
  }
}

#jso_section3 {
  box-shadow: 1vw 2vw 3vw grey;
  border-radius: 2vw 0;
  padding: 2vw;
  opacity: 0.6;
}
